Разбор дата сета - HOUSING

In [2]:
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix
from IPython.display import Image

In [3]:
HOUSING_PATH = "housing.csv"

In [4]:
housing = pd.read_csv(HOUSING_PATH)
housing.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

# Домашняя работа

1. Масштабирование:
    а. Нормализовать признак - median_income
    б. Привести признак - population к масштабу от 0 до 100
    
2. Заполнение пропусков:
    а. Заполнить пропуски в столбце total_bedrooms средними значениями по категориям столбца ocean_proximity
    Например, если пропущенно значение в строке с категорией INLAND, нужно заполнить его средним значением по этой категории
    
3. Категорийные атрибуты:
    а. Посчитать среднее кол-во комнат в строке (total_rooms/households)
    б. Разбить полученный столбец на группы на ваше усмотрение (Например, 1 комната, 2 комнаты, 3 и более комнат)

1. Масштабирование:
    а. Нормализовать признак - median_income
    б. Привести признак - population к масштабу от 0 до 100

In [5]:
from sklearn import preprocessing
min_max_scaler = preprocessing.MinMaxScaler(feature_range=(0,100))

np_scaled = min_max_scaler.fit_transform(housing[['median_income','population']])
df_norm = pd.DataFrame(np_scaled)
df_norm.columns = ['median_income','population']
df_norm.head()

   median_income  population
0      53.966842    0.894083
1      53.802706    6.721040
2      46.602805    1.381765
3      35.469856    1.555537
4      23.077613    1.575156

In [6]:
housing[['median_income','population']].head()

   median_income  population
0         8.3252       322.0
1         8.3014      2401.0
2         7.2574       496.0
3         5.6431       558.0
4         3.8462       565.0

2. Заполнение пропусков:
    а. Заполнить пропуски в столбце total_bedrooms средними значениями по категориям столбца ocean_proximity
    Например, если пропущенно значение в строке с категорией INLAND, нужно заполнить его средним значением по этой категории

In [65]:
housing['total_bedrooms'] = housing['total_bedrooms'].fillna(value=housing[housing['ocean_proximity']==housing['ocean_proximity']]['total_bedrooms'].mean())

Категорийные атрибуты: а. Посчитать среднее кол-во комнат в строке (total_rooms/households) б. Разбить полученный столбец на группы на ваше усмотрение (Например, 1 комната, 2 комнаты, 3 и более комнат)

In [88]:
housing['avg_cnt_room'] = round(housing['total_rooms']/housing['households']).astype('int64')

In [89]:
housing['group_cnt_room']= housing.apply(lambda x: str(x['avg_cnt_room'])+' '+'roms', axis=1)

In [90]:
housing['group_cnt_room'].head()

0    7 roms
1    6 roms
2    8 roms
3    6 roms
4    6 roms
Name: group_cnt_room, dtype: object