In [ ]:
Дан список с визитами по городам и странам. 
Напишите код, который возвращает отфильтрованный список geo_logs, содержащий только визиты из России. 
Считайте, что список geo_logs легко помещается в оперативной памяти.

In [1]:
geo_logs = [
['visit1', ['Москва', 'Россия']],
['visit2', ['Дели', 'Индия']],
['visit3', ['Владимир', 'Россия']],
['visit4', ['Лиссабон', 'Португалия']],
['visit5', ['Париж', 'Франция']],
['visit6', ['Лиссабон', 'Португалия']],
['visit7', ['Тула', 'Россия']],
['visit8', ['Тула', 'Россия']],
['visit9', ['Курск', 'Россия']],
['visit10', ['Архангельск', 'Россия']],
]

In [10]:
for i in geo_logs:
    if  i[1][1] == 'Россия':
        print(i[1][0])

Москва
Владимир
Тула
Тула
Курск
Архангельск

In [ ]:
Выведите на экран все уникальные гео-ID из значений словаря ids. Т. е. список вида [213, 15, 54, 119, 98, 35]

In [29]:
ids = {'user1': [213, 213, 213, 15, 213], 'user2': [54, 54, 119, 119, 119], 'user3': [213, 98, 98, 35]}

In [60]:
togever =[]
for i in ids:
    y = ids[i]
    togever.append(y)
print(set(togever[0]+togever[1]+togever[2]))

{98, 35, 15, 213, 54, 119}

In [ ]:
Список поисковых запросов. Получить распределение количества слов в них.
Т. е. поисковых запросов из одного слова 5%, из двух - 7%, из трех - 3% итд.

In [62]:
queries = [
'смотреть сериалы онлайн',
'новости спорта',
'афиша кино',
'курс доллара',
'сериалы этим летом',
'курс по питону',
'сериалы про спорт',
]

In [129]:

count_word = []
for i in queries:
          count_word.append((len(i.replace(' ','  '))-len(i)+1))
for y in set(count_word):
    print('количество элемента',y, 'равно:', count_word.count(y), 'что составляет ', round((count_word.count(y)/len(count_word)*100),1),'%')

количество элемента 2 равно: 3 что составляет  42.9 %
количество элемента 3 равно: 4 что составляет  57.1 %

In [ ]:
Дана статистика рекламных каналов по объемам продаж. 
Напишите скрипт, который возвращает название канала с максимальным объемом.
Т. е. в данном примере скрипт должен возвращать 'yandex'.

In [130]:
stats = {'facebook': 55, 'yandex': 120, 'vk': 115, 'google': 99, 'email': 42, 'ok': 98}

In [142]:
array = []
for i in stats:
    array.append(stats[i])
target=max(array)
for i in stats:
    if stats[i] == target:
        print('Канал с самым большим объёмом это ','"',i,'"', ',объём которого равен', target)

канал с самым большим объёмом это  " yandex " ,объём которого равен 120

In [ ]:
Дан поток логов по количеству просмотренных страниц для каждого пользователя. 
Список отсортирован по ID пользователя. 
Вам необходимо написать алгоритм, который считает 
среднее значение просмотров на пользователя. 
Т. е. надо посчитать отношение суммы всех просмотров к количеству уникальных пользователей.
Учтите, что весь список stream не помещается в оперативную память, 
т. е. его нужно обрабатывать поэлементно в цикле.

In [2]:
stream = [
'2018-01-01,user1,3',
'2018-01-07,user1,4',
'2018-03-29,user1,1',
'2018-04-04,user1,13',
'2018-01-05,user2,7',
'2018-06-14,user3,4',
'2018-07-02,user3,10',
'2018-03-21,user4,19',
'2018-03-22,user4,4',
'2018-04-22,user4,8',
'2018-05-03,user4,9',
'2018-05-11,user4,11',
]

In [68]:
import pandas as pd
users = []
for i in stream:
    users.append(i.split(',')) #раскладываем элементы в список

df=pd.DataFrame(users)

df[2]=pd.to_numeric(df[2])

df.groupby(1).mean()

           2
1
user1   5.25
user2   7.00
user3   7.00
user4  10.20

In [ ]:
Дана статистика рекламных кампаний по дням. 
Напишите алгоритм, который по паре дата-кампания ищет значение численного столбца. 
Т. е. для даты '2018-01-01' и 'google' нужно получить число 25. 
Считайте, что все комбинации дата-кампания уникальны, 
а список stats легко помещается в оперативной памяти.

In [69]:
stats = [
['2018-01-01', 'google', 25],
['2018-01-01', 'yandex', 65],
['2018-01-01', 'market', 89],
['2018-01-02', 'google', 574],
['2018-01-02', 'yandex', 249],
['2018-01-02', 'market', 994],
['2018-01-03', 'google', 1843],
['2018-01-03', 'yandex', 1327],
['2018-01-03', 'market', 1764],
]

In [105]:
array_new={}
for i in stats:
    array_new.update({i[0]+i[1]:i[2]})

array_new['2018-01-01google']

25